<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleChat.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
    <title>Chat Messages</title>
</head>
<body>
    
    <ul>
        <% chatMessages.forEach(chatMessage => { %>
            <li>
                <strong class="us-name">User ID:</strong> <%= chatMessage.User_ID %><br>
                <strong>Description:</strong> <%= chatMessage.Message_Description %><br>
                <strong>Status:</strong> <%= chatMessage.Message_Status %><br>
                <strong>Timestamp:</strong> <%= chatMessage.Message_Timestamp %>
            </li>
        <% }) %>
    </ul>
</body>
</html>
