<html>

<head>
    <style>
        body {
            background: url('../assets/pg2.png') no-repeat center center fixed;
            background-size: cover;
            color: white;
            font-family: 'Minecraft';
        }
    </style>
</head>

<body>
    <h1>Showcase Your Talent Here</h1>
</body>

</html>