body{
    color: white;
    background-color: black;
    font-family: "League";
    text-align: center;
}


h1{
    margin-top: 25vh;
}

table{
    width: 95%;
    border: #fff 2px;
    border-style: outset;
    margin-left: 2.5vw;
}

td{
    padding: 2vh;
    border: #fff 2px;
    border-style: outset;
}


th{
    padding: 2vh;
    border: #fff 2px;
    border-style: outset;
}

button{
    font-family: "League";
    margin-top: 2vh;
    padding: 0.5vw;
    background-color: #7B2CBF;
    color: white;
    border-radius: 10px;
    border-color: black;
    border-style: outset;
    width: fit-content;
    height: fit-content;
}

button:hover{
    background-color: black;
    border-color: #7B2CBF;
}